body
  margin: 0
  padding: 0
  display: flex

.item
  border: 1px solid green
  user-select: none

#laneone
  width: 20vw
  border: 1px solid red

#lanetwo
  width: 20vw
  border: 1px solid red

#lanethree
  width: 20vw
  border: 1px solid red
